<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACQyFK9QP_cjGBkLZS1kW4q789j6YqKSo</string>
	<key>GCM_SENDER_ID</key>
	<string>125023640622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.career010.harpie</string>
	<key>PROJECT_ID</key>
	<string>harpie-app</string>
	<key>STORAGE_BUCKET</key>
	<string>harpie-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125023640622:ios:cbf16ef5e60895fa8613bf</string>
</dict>
</plist>